unit1 pas ..\unit1.pas
rafddefaultcomponentbitmap BITMAP ..\defaultcomponent.bmp
#define ResBase $5400
#define StrBase $5600
STRINGTABLE
LANGUAGE LANG_RUSSIAN, 1
{
 ResBase +   1, "File '%s' not found"
 ResBase +   2, "No forms selected"
 ResBase +   3, "Can't save file '%s'"
 ResBase +   4, "Save changes to %s ?"

 ResBase +   7, "Не удается загрузить файл %s. Он необходим для запуска формы"
 ResBase +   8, "Не найдена функция в файле %s. Вероятно неверная версия файла"
 ResBase +   9, "Ошибка при загрузке эксперта %s: \n%s"
 ResBase +   10, "Ошибка при создании формы\n%s"
 ResBase +   11, "Нельзя изменять ini-параметры при запущенном AppBuilder"
 ResBase +   12, "Сбой при переименовании формы"
 ResBase +   13, "Сбой при переименовании модуля"
 ResBase +   14, "Сбой при переименовании метода '%s'"
 ResBase +   15, "Не найдено объявление формы"
 ResBase +   16, "Ошибка в файле %s: конструкция '%s' пропущена или некорректна"


 StrBase +   1, "OK"
 StrBase +   2, "Отмена"

 StrBase +   50, "Вытащить &наверх"
 StrBase +   51, "Опустить &вниз"

 StrBase +   100, "&Файл"
 StrBase +   101, "&Правка"
 StrBase +   102, "&Вид"
 StrBase +   103, "&Новый..."
 StrBase +   104, "Новая &форма"
 StrBase +   105, "&Открыть..."
 StrBase +   106, "&Сохранить"
 StrBase +   107, "Сохранить &Как..."
 StrBase +   108, "Сохранить &Все"
 StrBase +   109, "&Закрыть"
 StrBase +   110, "З&акрыть Все"
 StrBase +   111, "&Выход"
 StrBase +   112, "&Удалить"
 StrBase +   113, "Инспектор &Объектов"
 StrBase +   114, "Палитра &Выравнивания"
 StrBase +   115, "Палитра &Компонентов"
 StrBase +   116, "&Бежать"
 StrBase +   117, "Бежать &Форму"
 StrBase +   118, "Бежать Просмотр &Отчета"
 StrBase +   119, "Пере&ключить Форма/Модуль"
 StrBase +   120, "Открыть файл"
 StrBase +   121, "Сохранить все"
 StrBase +   122, "Переключить Форма/Модуль"
 StrBase +   123, "Бежать &Форму"
 StrBase +   124, "Бежать Просмотр Отчета"
 StrBase +   125, "&Компонент"
 StrBase +   126, "Список &окон..."
 StrBase +   127, "По&иск"
 StrBase +   128, "&Проект"
 StrBase +   129, "&Сервис"
 StrBase +   130, "&Исходник Проекта"
 StrBase +   131, "&Параметры окружения..."
 StrBase +   132, "Спр&авка"
 StrBase +   133, "&Копировать"
 StrBase +   134, "&Вставить"

 StrBase +   200, "Выравнивание"
 StrBase +   201, "По левому краю"
 StrBase +   202, "По правому краю"
 StrBase +   203, "По верхнему краю"
 StrBase +   204, "По нижнему краю"
 StrBase +   205, "По горизонтальному центру"
 StrBase +   206, "Центрировать горизонтально в окне"
 StrBase +   207, "Равные горизонтальные промежутки"
 StrBase +   208, "По вертикальному центру"
 StrBase +   209, "Центрировать вертикально в окне"
 StrBase +   210, "Равные вертикальные промежутки"

 StrBase +   220, "Инспектор объектов"
 StrBase +   221, "Свойства"
 StrBase +   222, "События"

 StrBase +   230, "Редактор списка строк"
 StrBase +   231, "Редактор..."

 StrBase +   240, "Новые итемы"
 StrBase +   241, "Новый"

}

