LMD_VS2005_DOCKSTYLE_XML       RCDATA "special\styles\VS2005\VS2005.xml"
LMD_VS2005_DOCKSTYLE_BMP       RCDATA "special\styles\VS2005\VS2005.bmp"

LMD_VS2010_DOCKSTYLE_XML       RCDATA "special\styles\VS2010\VS2010.xml"
LMD_VS2010_DOCKSTYLE_BMP       RCDATA "special\styles\VS2010\VS2010.bmp"

LMD_VS2012_DOCKSTYLE_XML       RCDATA "special\styles\VS2012\VS2012.xml"
LMD_VS2012_DOCKSTYLE_BMP       RCDATA "special\styles\VS2012\VS2012.bmp"

LMD_VS2012DARK_DOCKSTYLE_XML   RCDATA "special\styles\VS2012Dark\VS2012Dark.xml"
LMD_VS2012DARK_DOCKSTYLE_BMP   RCDATA "special\styles\VS2012Dark\VS2012Dark.bmp"

LMD_VS2012BLUE_DOCKSTYLE_XML   RCDATA "special\styles\VS2012Blue\VS2012Blue.xml"
LMD_VS2012BLUE_DOCKSTYLE_BMP   RCDATA "special\styles\VS2012Blue\VS2012Blue.bmp"

LMD_VCLSTYLE_DOCKSTYLE_XML     RCDATA "special\styles\VCLStyle\VCLStyle.xml"
LMD_VCLSTYLE_DOCKSTYLE_BMP     RCDATA "special\styles\VCLStyle\VCLStyle.bmp"

